<?xml version="1.0"?>
<unity>
  <typeAliases>
    <!-- Setup -->
    <typeAlias alias="Singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
    <typeAlias alias="PerWebRequest" type="Txtr.Platform.Unity.UnityPerWebRequestLifetimeManager, Txtr.Platform.Unity"/>

    <typeAlias alias="IConfigurationManager" type="Txtr.Platform.Data.Core.Configuration.IConfigurationManager, Txtr.Platform.Data.Core"/>
    <typeAlias alias="RegisterControllerFactory" type="Txtr.Platform.Data.WebService.Web.BootstrapperTasks.RegisterControllerFactory, Txtr.Platform.Data.WebService.Web"/>
    <typeAlias alias="RegisterLoggerFactory" type="Txtr.Platform.Data.WebService.Web.BootstrapperTasks.RegisterLoggerFactory, Txtr.Platform.Data.WebService.Web"/>
    <typeAlias alias="IBootstrapperTask" type="Txtr.Platform.Data.Core.Bootstrapper.IBootstrapperTask, Txtr.Platform.Data.Core"/>
  </typeAliases>
  <containers>
    <container>
      <types>
        <type type="System.Web.Mvc.IControllerFactory, System.Web.Mvc"
                     mapTo="Txtr.Platform.Data.WebService.Web.Controllers.ControllerFactory, Txtr.Platform.Data.WebService.Web">
          <lifetime type="Singleton"/>
        </type>
        <type type="System.Web.Http.Dispatcher.IHttpControllerActivator, System.Web.Http"
                    mapTo="Txtr.Platform.Unity.UnityHttpControllerActivator, Txtr.Platform.Unity">
          <lifetime type="Singleton"/>
        </type>


        <type name="registerControllerFactory" type="IBootstrapperTask" mapTo="RegisterControllerFactory">
          <lifetime type="Singleton"/>
        </type>
        <type name="registerLoggerFactory" type="IBootstrapperTask" mapTo="RegisterLoggerFactory">
          <lifetime type="Singleton"/>
        </type>
        
        <type type="IConfigurationManager"
              mapTo="Txtr.Platform.Data.Core.Configuration.ConfigurationManagerWrapper, Txtr.Platform.Data.Core">
          <lifetime type="Singleton"/>
        </type>

        <type type="Txtr.Platform.Data.Provider.Connection.IBooksConnectionString, Txtr.Platform.Data.Provider"
              mapTo="Txtr.Platform.Data.Provider.Connection.BooksConnectionString, Txtr.Platform.Data.Provider">
          <lifetime type="Singleton"/>
          <constructor>
            <param name="name">
              <value value="BooksDatabaseEntities"/>
            </param>
          </constructor>
        </type>

        <type type="Txtr.Platform.Data.Provider.Connection.IBooksDatabaseFactory, Txtr.Platform.Data.Provider"
            mapTo="Txtr.Platform.Data.Provider.Connection.BooksDatabaseFactory, Txtr.Platform.Data.Provider">
          <lifetime type="PerWebRequest"/>
        </type>

        <type type="Txtr.Platform.Data.DomainModel.Services.IBookService, Txtr.Platform.Data.DomainModel"
              mapTo="Txtr.Platform.Data.Services.BookService, Txtr.Platform.Data.Services">
          <lifetime type="PerWebRequest"/>
        </type>

        <type type="Txtr.Platform.Data.DomainModel.Repository.IBooksRepository, Txtr.Platform.Data.DomainModel"
              mapTo="Txtr.Platform.Data.Provider.Repository.BooksRepository, Txtr.Platform.Data.Provider">
          <lifetime type="PerWebRequest"/>
        </type>

       
        
      </types>
    </container>
  </containers>
</unity>
