<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="false" />
  </configSections>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="false" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add name="Rolling Flat File Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        fileName="C:\Logs\rolling.log"
        footer=""
        header=""
        formatter="Text Formatter"
        rollFileExistsBehavior="Increment" rollSizeKB="25" timeStampPattern="yyyy'-'MM'-'dd'T'HH'_'mm'_'ss"
        maxArchivedFiles="10" />
      <add name="Rolling Flat File Listener Other" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
          listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
          fileName="C:\Logs\rolling_other.log"
          footer=""
          header=""
          formatter="Text Formatter"
          rollFileExistsBehavior="Increment" rollSizeKB="25" timeStampPattern="yyyy'-'MM'-'dd'T'HH'_'mm'_'ss"
          maxArchivedFiles="10" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        template="[{severity}][{title}] {timestamp}: {message}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Other">
        <listeners>
          <add name="Rolling Flat File Listener Other" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
</configuration>